<h1>Ma bibliothèque</h1>

<button routerLink="/books/add">
  Ajouter un livre
</button>

<div class="books-container">
  <!-- Display books if there are any -->
  <div *ngIf="books && books.length > 0; else noBooks">
    <div class="book-card" *ngFor="let book of books">
      <div class="book-info">
        <!-- Apply the highlight directive to the title -->
        <h2 highlight>{{ book.title }}</h2>
        
        <p>{{ book.author }}</p>
        
        <p>
          <!-- Use the truncate pipe to limit description to 20 characters -->
          {{ book.description | truncateDescription: 120 }}
        </p>
        
        <p>Catégorie: {{ book.category }}</p>
        <p>Note: {{ book.rating }}</p>
        <p>Favori: {{ book.isFavorite ? 'Oui' : 'Non' }}</p>
      </div>
      
      <div class="book-actions">
        <button routerLink="/books/{{book.id}}">Détails</button>
        <button (click)="toggleFavorite(book)">{{ book.isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris' }}</button>
        <button (click)="deleteBook(book.id)">Supprimer</button>
      </div>
    </div>
  </div>

  <!-- Template for when no books are available -->
  <ng-template #noBooks>
    <p>Aucun livre dans votre bibliothèque. Commencez par en ajouter un!</p>
  </ng-template>
</div>
